<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <!-- Logo o Nombre de la Aplicación -->
      <div class="text-white text-xl font-bold">Mi Aplicación</div>
  
      <!-- Enlaces de Navegación -->
      <div class="flex space-x-4">
        <a routerLink="/home" routerLinkActive="active"  class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
        <a routerLink="/cuestionario" routerLinkActive="active"  class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Encuesta</a>
        <a routerLink="/impuesto" routerLinkActive="active"  class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reporte</a>
      </div>
    </div>
  </nav>