<nav class="bg-gray-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo o Nombre de la Aplicación -->
    <div class="text-white text-2xl font-bold">Mi Aplicación</div>

    <!-- Enlaces de Navegación -->
    <div class="flex space-x-4">
      <a routerLink="/home" routerLinkActive="active" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
      <a routerLink="/informacion" routerLinkActive="active" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Más sobre España</a>
      <a routerLink="/cuestionario" routerLinkActive="active" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Encuesta</a>
      <a routerLink="/reporte" routerLinkActive="active" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reporte</a>
    </div>
  </div>
</nav>
