 <!-- Contenido Principal -->
 <main class="container mx-auto py-12">

    <!-- Sección de Información -->
    <section id="informacion" class="mb-12">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <!-- Texto de Información -->
            <div class="max-w-lg">
                <h2 class="text-3xl font-bold mb-4">Descubre España</h2>
                <p class="text-lg mb-6">Explora la rica cultura, la deliciosa gastronomía, los paisajes impresionantes y mucho más que España tiene para ofrecer a jóvenes como tú.</p>
                <a routerLink="/cuestionario" routerLinkActive="active" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full focus:outline-none focus:shadow-outline">Participa en la Encuesta</a>
            </div>
            <!-- Video -->
            <div class="relative h-96 bg-gray-500 rounded-lg overflow-hidden">
                <iframe src="https://www.youtube.com/embed/nZb0jN_4Bak?si=celXHNFHr8fuW-Kw" frameborder="0" allowfullscreen
                    class="absolute inset-0 w-full h-full"></iframe>
            </div>
        </div>
    </section>

    <!-- Sección de Imágenes -->
    <section id="galeria" class="mb-12">
        <h2 class="text-3xl font-bold mb-4 text-center">Galería de Imágenes</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="https://estaticos-cdn.prensaiberica.es/clip/ed3e1c83-0816-4993-911d-35ae6bff6788_source-aspect-ratio_default_0.jpg" alt="Flamenco" class="w-full h-auto">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg ">
                <img src="https://cdn-imgix.headout.com/mircobrands-content/image/b299bd25f75c1e299c877fed458576fa-Sagrada%20Familia%20-%20Facades.jpg?auto=format&w=814.9333333333333&h=458.4&q=90&ar=16%3A9&crop=faces" alt="Sagrada familia" class="w-full h-auto">
            </div>
            <div class="overflow-hidden rounded-lg shadow-lg">
                <img src="https://cope-cdnmed.cope.es/resources/jpg/9/1/1685437812519.jpg" alt="Festejos taurinos" class=" w-150 h-80">
            </div>
        </div>
    </section>


        <!-- Sección de Datos de España -->
        <section id="datos-espana" class="bg-white p-8 rounded-lg shadow-lg mb-12">
            <h2 class="text-3xl font-bold mb-4 text-center">Datos sobre España</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                <!-- Datos sobre la Capital -->
                <div>
                    <h3 class="text-xl font-bold mb-2">Capital: Madrid</h3>
                    <p class="mb-4">Madrid es una ciudad vibrante conocida por su arte, cultura y vida nocturna.</p>
                    <img src="https://cdn5.travelconline.com/unsafe/fit-in/2000x0/filters:quality(75):format(webp)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fimagenes%2FGOfljcuybSSo-ItBhKveICnjpeg.jpeg" alt="Madrid" class="w-full rounded-lg shadow-lg">
                </div>
                <!-- Datos sobre Gastronomía -->
                <div>
                    <h3 class="text-xl font-bold mb-2">Gastronomía: Tapas y Paella</h3>
                    <p class="mb-4">La paella y las tapas son algunos de los platos más famosos de España.</p>
                    <img src="https://tuprensalocal.com/wp-content/uploads/2020/12/2020_1213_paella-cocina.png" alt="Paella" class="w-full rounded-lg shadow-lg">
                </div>
                <!-- Datos sobre Idioma -->
                <div>
                    <h3 class="text-xl font-bold mb-2">Idioma Oficial: Español</h3>
                    <p class="mb-4">El español es el idioma oficial de España y se habla en todo el país.</p>
                    <img src="https://st2.depositphotos.com/1000350/10701/i/450/depositphotos_107013136-stock-photo-learn-spanish-concept.jpg" alt="Español" class="w-full rounded-lg shadow-lg">
                </div>
                <!-- Datos sobre Moneda -->
                <div>
                    <h3 class="text-xl font-bold mb-2">Moneda: Euro</h3>
                    <p class="mb-4">El euro es la moneda oficial de España desde 2002.</p>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Reverso_1_euro.jpg" alt="Euro" class="w-full rounded-lg shadow-lg">
                </div>
            </div>
        </section>

        <!-- Sección de Mundial de Fútbol -->
        <section id="mundial" class="bg-gray-200 p-8 rounded-lg shadow-lg">
            <h2 class="text-3xl font-bold mb-4 text-center">España en el Mundial de Fútbol</h2>
            <p class="text-lg mb-6">España ganó su primer título de la Copa del Mundo en 2010 en Sudáfrica.</p>
            <img src="https://cnnespanol.cnn.com/wp-content/uploads/2022/09/GettyImages-118812324.jpg?quality=100&strip=info" alt="Mundial de Fútbol" class="w-full rounded-lg shadow-lg">
        </section>


   <!-- Footer -->
   <footer class="bg-gray-800 text-gray-300 text-center py-4">
    <div class="container mx-auto">
        <p>&copy; 2024 España para Jóvenes. Todos los derechos reservados.</p>
    </div>
</footer>

