<!-- Hero Section -->
<header class="bg-cover bg-center h-screen flex items-center justify-center" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/57/Sagrada_Familia_8-12-21_%281%29.jpg');">
    <div class="flex flex-col items-center justify-center text-center text-white px-4 w-full">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Descubre España</h1>
        <p class="text-lg md:text-xl mb-8">Bienvenido/a a un viaje cultural por España</p>
        <a routerLink="/cuestionario" routerLinkActive="active" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full focus:outline-none focus:shadow-outline">Participa en la Encuesta</a>
    </div>
</header>

<!-- Sección de Contenido Principal -->
<main class="flex flex-col items-center justify-center py-12 px-4 w-full">

    <!-- Sección de Información -->
    <section id="informacion" class="flex flex-col md:flex-row items-center justify-center space-y-4 md:space-x-8 md:space-y-0 mb-12 w-full max-w-screen-lg">
        <div class="flex flex-col items-center justify-center max-w-md text-center md:text-left">
            <h2 class="text-3xl font-bold mb-4">Descubre España</h2>
            <p class="text-lg leading-relaxed">Explora la belleza de España a través de su cultura, gastronomía, deportes y mucho más.</p>
        </div>
        <div class="max-w-md w-full">
            <img src="https://previews.123rf.com/images/incomible/incomible1705/incomible170500015/77105571-dise%C3%B1o-de-fondo-de-espa%C3%B1a-s%C3%ADmbolos-y-objetos-tradicionales-espa%C3%B1oles.jpg" alt="Imagen representativa de España" class="rounded-lg shadow-lg w-full">
        </div>
    </section>

    <!-- Sección de Más Información -->
    <section id="mas-informacion" class="bg-gray-200 p-8 rounded-lg shadow-lg w-full max-w-screen-lg text-center">
        <h2 class="text-3xl font-bold mb-4">Descubre más sobre España</h2>
        <p class="text-lg">Sumérgete en la cultura fascinante de España y descubre todo lo que este hermoso país tiene para ofrecer.</p>
        <a routerLink="/informacion" routerLinkActive="active" class="block mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full focus:outline-none focus:shadow-outline">Explorar Más</a>
    </section>

</main>

<!-- Footer -->
<footer class="bg-gray-800 text-gray-300 text-center py-4 w-full">
    <div class="container mx-auto">
        <p>&copy; 2024 España para Jóvenes. Todos los derechos reservados.</p>
    </div>
</footer>
